@model ChalupaHaj.Models.Form
@using ChalupaHaj.Models
@inject LanguageService language

<!--Contact us form-->
<form asp-action="Create" class="contact-form green">


    <!--validation summary-->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <!--Input field Name-->
    <div class="form-group">
        <label class="control-label">@language.GetKey("form-jmeno")</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>


    <!--Input field Surname-->
    <div class="form-group">
        <label class="control-label">@language.GetKey("form-prijmeni")</label>
        <input asp-for="Surname" class="form-control">
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>


    <!--Input field email-->
    <div class="form-group">
        <label class="control-label">@language.GetKey("form-email")</label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>


    <!--Input field phone-->
    <div class="form-group">
        <label class="control-label">@language.GetKey("form-Telefon")</label>
        <input asp-for="Phone" class="form-control">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>


    <!--Input field message-->
    <div class="form-group">
        <label class="control-label">@language.GetKey("form-Zprava")</label>
        <input asp-for="Message" class="form-control">
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>

    <!--Send button-->
    <div class="greyBox">
        <input type="submit" value=@language.GetKey("form-Odeslat") class="btn btn-primary">
    </div>

</form>


