@model IEnumerable<ChalupaHaj.Models.News>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (this.Context.User.IsInRole("Administrator"))
{
    <div class="content-news-index">

        <div class="greyBox">
            <h2>NOVINKY</h2>
        </div>

        <section class="news-container">

            <div class="box">
                <a asp-action="Create">Vytvořit novinku</a>
            </div>

            <table>
                @foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>


                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Upravit |</a>
                            <a asp-action="Details" asp-route-id="@item.Id">Podrobnosti |</a>
                            <a asp-action="Delete" asp-route-id="@item.Id">Smazat</a>
                        </td>

                    </tr>
                }
            </table>


        </section>

    </div>
    
}

